.navbar{
  list-style-type:none;
  margin: 0;
  padding: 0;
  background-color: #8e44ad;
  overflow: hidden;
}

.navitem{
  float: left;
  color: #1abc9c;
}

.navitem a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitem a:hover {
  background-color: #16a085;
  color: #f39c12;
}

.line{
  color:#c0392b;
  size:4px;
}

.list {
  font-family:impact;
  font-size:18;
  color:#27ae60;
  text-align: left;
}

h1 {
  color:color: white;
  font-family:arial;
}

#profilepic{
  height:600px;
  width:600px;
  float: right;
}

#homepage{
  position: absolute;
}

#myCanvas{
  width:100%;
}

#text{
  position: relative;
}